html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.app-container {
  box-sizing: border-box;
  /* background-color: black; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.shop-container {
  padding: 5% 5%;
  display: flex;
  justify-content: center;
}

.main-menu {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: black;
}

.main-menu ul {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.main-menu li {
  list-style-type: none;
  margin-left: 20px;
  cursor: pointer;
  padding: 0.5em 0.7em;
}

.main-menu li:hover {
  background-color: #f8f7f78c;

}

.buttonSt {
  background-color: #9178ca;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonSt:hover {
  background-color: #816faa;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.zag {
  text-align: center;
  font-size: 30px;
}

.accountP {
  
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: space-around;
  padding: 5% 10%;
}

.userBlock{
width: 30%;
min-width: 200px;
}

.orderBlock{
flex-direction: column;
display: flex;
min-width: 600px;
align-items: center;
margin-left: 100px;
}

.orderButton{
  padding: 0.5em 0.7em;
  font-size: large;
  width: max-content;
  color: #f8f5f5;
  background-color: black;
}

.orderButton:hover{
  padding: 0.5em 0.7em;
  font-size: large;
  width: max-content;
  color: #f8f5f5;
  background-color: rgb(46, 46, 46);
}

.orderButton:disabled {
  color: #f8f5f56b;
  background-color: rgba(46, 46, 46, 0.438);
}

/* .profileImage { 
  width: 100px;
  border-radius: 10px;
} */

.inputT {
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  height: 30px;
  width: 180px;
  color: #0a0909;
  font-size: 18px;
  font-family: Tahoma;
}

.ItemLarge__Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ItemLarge__Container > div {
  width: max(50%, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemLarge__Reverse {
  flex-direction: row-reverse;
}

.ImageLarge {
  max-height: 700px;
  min-height: 560px;
}

.InfoLarge {
  display: flex;
  flex-direction: column;
}

.ItemSmall__Container {
  display: flex;
  flex-direction: column;
  padding: 0% 3%;

}

.ImageSmall {
  height: 120px;
  /* min-height: 560px; */
}

.Footer__Title {
  border-bottom: 1px solid #f8f5f5;
}

.Footer{
  box-sizing: border-box;
  display: flex;
  justify-content:start;
  padding: 30px 4%;
  background-color: black;
  width: 100%;
  min-height: 200px;
  color: #f8f5f5;
  margin-top: auto;
}

.Footer > div {
  margin: 3rem;
}

.a {
  color: rgb(255, 255, 255); /* Цвет текста */
  transition: 1s linear; /* Время изменения */
 }
 a:hover {
  color: rgb(88, 61, 209); /* Цвет текста */
 }

 .TitlT{
  text-align: center;
  font-size: 20px;
 }

 .PriceT{
  text-align: center;
  font-size: 25px;
 }